#new-post-form {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
body {
    padding: 10px;
}
.fa-heart {
    color: red;
}
